.mx-auto {
    /* background-color: skyblue; */
    margin-top: 50px;
    border: 2px solid orange;
    border-radius: 7px;
    margin-bottom: 50px;
}

.form {
    /* background-color: blue; */
    text-align: center;
    margin-top: 30px;

}

.form input {
    display: block;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: large;
    border: none;
    background-color: rgb(247, 248, 251);
    /* margin: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    /* background-color: blue; */
}