.myself h2 {
    padding: 150px;
    /* margin-right: 60px; */
    font-size: 45px;
}

.myself span {
    color: orange;
}

.image {
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 60px;
}

.image img {
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}